<% provide(:title, "Micropost - Show") %>
<div class="center jumbotron">
  <div class="center">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Content:</strong>
      <%= @micropost.content %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @micropost.user_id %>
    </p>

    <%= link_to 'Edit', edit_micropost_path(@micropost), class: "btn btn-lg btn-primary" %> |
    <%= link_to 'Back', microposts_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>